<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <title>Smash Hub | Players</title>
  <link rel="stylesheet" type="text/css" href="../resources/css/fighters-players.css">
</head>

<body onload="populateDropdown()">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <button class="btn btn-secondary" onclick="location.href='../index.html'">Home</button>
      </div>
      <div class="col-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Select Fighter
        </button>
        <div class="dropdown-menu scrollable-menu" id="player-dropdown" aria-labelledby="dropdownMenuButton">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <img
      </div>
    </div>
  </div>
</body>

<!-- Bootstrap Scripts -->
<script src="../scripts.js"></script>

<!-- Scripts -->
<script src="../scripts/players.js"></script>

</html>