<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../resources/css/main_style.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/smash_style.css">
  </head>

  <body>
    <div class="container col-11 d-flex justify-content-center">
      <div class="col-12 header_div rounded">
        <a href="../index.html">
        <img src="../resources/img/logo.png" alt="logo.png">
        </a>
      </div>
    </div>

    <div class="container coll-11 form_div rounded">
      <h2 style="color: white;"><b>Tournament Mode</b></h2>
      <form>
        <select name="Tournament_mode" class="custom-select mb-3">
          <option>Singles Smash</option>
          <option>Team Smash</option>
        </select>

        <h2 style="color: white;"><b>Character Select</b></h2>
          <select name="Character_select" class="custom-select mb-3">
            <option>Choose your own</option>
            <option>Random</option>
            <option>Fighter Type</option>
            <option>Tier</option>
            <option>Most Used</option>
            <option>Least Used</option>
            <option>Least Wins</option>
          </select>
        </form>
        <button onclick="location.href='./player_select.html'" class="btn btn-primary">Next</button>
      </form>
    </div>
  </body>
</html>